*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: sans-serif;
}

.home{
    padding: 40px;
    background-image: url('../img/fondo-pag-speciali.jpg');
}

.container{
    width: 1200px;
    margin: auto;
    color: #022f74;
}

h1{
    margin-left: 20px;
}

ul{
    list-style: none;
}

a{
    font-size: 22px;
    text-decoration: none;
    color: #000;
    padding: 20px;
    &:active{
        background: #b2e5fc;
    }
}
