 footer{
    width: 1200px;
    margin: auto;
    padding: 30px;
    padding-bottom: 100px;
    display: flex;
    background-image: url('../img/footer-montagne-bottom.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #99a0ac;

    .logo{
        flex-basis: 32%;
    }

    .footer-list{
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;

        .footer-sect{
           flex-basis: 48%;
           margin: 1%;
           padding-left: 10px;
        }

        h3{
            padding:15px 0;
        }

        li{
            padding: 3px;
        }
    }

 }