.posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
    .poster{
        flex-basis: 30%;
        margin: 1%;
        margin-bottom: 10px;
        img{
            width: 100%;
        }
    }
}