section{
    background: #b8dae6;
    width: 100%;
    
    .container{
        margin-bottom: 30px;
        color: #022f74;
        text-align: center;
        padding: 30px;
    
        img{
            width: 100%;
        }
    }
}
